@model SWIMSWeb.models.ResultsModel

@{
    ViewBag.Title = "Job Search";
}

    <div class="">


        @if (Model != null && Model.Results != null && Model.Results.Count > 0)
        {
            <b>Results</b>
            <table class="table table-bordered table-responsive table-hover table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th scope="col">Job Id</th>
                        <th scope="col">
                            Contract Code
                            @Html.ActionLink("Contract Code", "Sort", new { sortOrder = ViewBag.NameSortParm })
                        </th>
                        <th scope="col">Contract Desc. </th>
                        <th scope="col">District Code </th>
                        <th scope="col">District Desc.</th>
                        <th scope="col">Job Address</th>
                        <th scope="col">District Address</th>
                        <th scope="col">District PostCode</th>
                    </tr>
                </thead>

                @foreach (var result in Model.Results)
                {
                    <tr>
                        <td>@result.jobId</td>
                        <td>@result.contractCode</td>
                        <td>@result.contractDesc</td>
                        <td>@result.districtCode</td>
                        <td>@result.districtDesc</td>
                        <td>@result.jobAddress</td>
                        <td>@result.districtAddress</td>
                        <td>@result.districtPostCode</td>
                    </tr>
                }

            </table>

        }

    </div>
@ViewBag.UserMessage

@using (Html.BeginForm("index", "Search", FormMethod.Post, new { id = "goSearch" }))
{

    <b>Please enter you search text...</b>

    <div class="row">

        <div class="col-md-4">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "input-group-text" })
        </div>

        <div class="col-md-4">
            @Html.CheckBoxFor(m => m.JobIdIsChecked) Jobs
            @Html.CheckBoxFor(m => m.AddressIsChecked) Address
            @Html.CheckBoxFor(m => m.ContractIsChecked) Contract
            @Html.CheckBoxFor(m => m.DistrictIsChecked) District
        </div>

        <div class="col-md-4">
            <div class="" style="float:left;">
                <button type="button" class="btn btn-outline-success" onclick="document.getElementById('goSearch').submit()">Go!</button>
            </div>
            <div class="" style="float:left;margin-left:10px;">
                <button type="button" class="btn btn-outline-danger" onclick="location.href='@Url.Action("Clear", "Search")'">Clear</button>
            </div>
        </div>

    </div>
    <br />

}



